* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f0f6; /* Cor de fundo suave e romântica */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.5s ease;
    position: relative;
    background-image: url('fundo.jpeg'); /* Um leve padrão de fundo */
    background-size: 150px 150px;
}

.erro {
    background-color: #f44336;
    color: white; /* Fundo vermelho para resposta incorreta */
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 350px;
    background: linear-gradient(to bottom, #ffb6c1, #ff85a1); /* Gradiente de rosa claro para escuro */
}

button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 30px; /* Bordas bem arredondadas para os botões */
    background-color: #ff85a1;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ff6384; /* Cor de hover mais intensa */
    transform: scale(1.1); /* Animação de aumento suave ao passar o mouse */
}

button:active {
    background-color: #ff1a60; /* Cor de clique mais escura */
}

#justificativaContainer {
    margin-top: 20px;
}

#justificativa {
    width: 80%;
    height: 100px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #ff85a1;
    background-color: #fff0f6; /* Fundo rosa claro */
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.hidden {
    display: none;
}

#respostaIncorreta {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#voltarBtn {
    margin-top: 20px;
    font-size: 16px;
    background-color: #ff85a1;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

#voltarBtn:hover {
    background-color: #ff6384;
    transform: scale(1.1);
}


#naoSeiBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.4s ease, left 0.4s ease; /* Transições suaves */
    background-color: #ff85a1;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}

#naoSeiBtn:hover {
    background-color: #ff6384; /* Cor mais intensa ao passar o mouse */
    transform: scale(1.1); /* Efeito de crescimento */
}

